@import "tailwindcss";
@import "tw-animate-css";
@import "shadcn/tailwind.css";

@custom-variant dark (&:is(.dark *));

@font-face {
  font-family: "nunito";
  src: url(./assets/Nunito-Black.ttf);
}


@theme inline {
  --color-primary: var(--primary);
  --color-secondary: var(--secondary);
  --color-text: var(--text);
}


:root {
  --primary: #4d276b;
  --secondary: #fc4747;
  --text: #fff;
}

.green {
  --primary: #296b27;
  --secondary: #63e099;
}

.blue {
  --primary: #413296;
  --secondary: #63aae0;
}

.red {
  --primary: #6b0c0c;
  --secondary: #fc4747;
}

.purple {
  --primary: #4d276b;
  --secondary: #c987e6;
}

.pink {
  --primary: #f52099;
  --secondary: #e687bd;
  --text: #000;
}

.orange {
  --primary: #fc942b;
  --secondary: #f5b576;
  --text: #000;
}


@layer base {}